<p id="notice"><%= notice %></p>

<p>
  <strong>Json state:</strong>
  <%= @game_record.json_state %>
</p>

<%= link_to 'Edit', edit_game_record_path(@game_record) %> |
<%= link_to 'Back', game_records_path %>
