// Place all the styles related to the GameRecords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.square {
    height: 12px;
    width: 12px;
    border: 1px solid #000;
}

.redSquare {
    height: 12px;
    width: 12px;
    border: 1px solid #000;
    background-color: red;
}

.yellowSquare {
    height: 12px;
    width: 12px;
    border: 1px solid #000;
    background-color: yellow;
}

.colSelector {
    height: 12px;
    width: 12px;
}

